/*---------------------------------------------------------*\

    Page Structure

\*---------------------------------------------------------*/

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background: $powder;
}

iframe {
    border: 0;
    overflow: hidden;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%; /* Makes sure images respect the bounds of a fluid container. The image never exceeds the width of its container. */
    height: auto;    /* The image's aspect ratio is preserved even if it has an inline height set. */
}

a {
    transition: all 150ms ease-out;
}

a:hover,
a:active,
a:focus {
    transition: all 150ms ease-out;
}

#wrap {
    background: $white;
    min-height: 100%;
    position: relative;
}

hr#topbar {
    position: absolute;
    top: 0;
    width: 100%;
    height: 1em;
    background: $powder;
    z-index: 200;
    border: none;
    margin: 0;
    padding: 0;
}

hr.top {
    margin-top: 0;
}

section#main {
    padding-top: 3.25em;
    padding-left: 3.25em;
    padding-right: 3.25em;
    padding-bottom: $footer-height; /* Height of footer element */
    background: $white;
    position: relative;
}
    @media only screen and (max-width: 37.5em) {
        section#main {
            padding-left: 1.5em;
            padding-right: 1.5em;
        }
    }

.flash {
    z-index: 400;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: .5em 1.5em 0 1.5em;
    color: $white;
    font-family: $sans;
    font-weight: 300;
    letter-spacing: 1px;
    letter-spacing: 0.056rem;

    p {
        margin-bottom: .75em;
    }
}

.flash#failure {
    background: $error;
    background: rgba(232, 57, 68, .65);
}

.flash#success {
    background: #3D9970;
    background: rgba(61, 153, 112, .65);
}

#logo {
    float: left;
    line-height: 1;
}

#logo a,
#logo a:visited {
    text-decoration: none;
    color: $charcoal;
    font-size: 2.778em;
    display: block;
}

#logo a:hover,
#logo a:active,
#logo a:focus {
    outline: 0;
    color: $tin;
}

#work a {
    font-family: $sans;
    border-bottom: none;
    padding-bottom: 0;
    position: relative;
    display: block;
}

#work a img {
  display: block;
  height: auto;
  max-width: 100%;
  width: auto;
}

// .row.work-desc {
//     margin-top: 1em;
// }

p.work-intro {
    font-size: 1.25em;
    font-family: $sans;
    font-weight: 400;
    @media( max-width: 31.25em ) {
        font-size: 100%;
    }
}

hr.work-divider {
    background-color: $shine;
    border: none;
    color: $shine;
    display: block;
    height: 0.1875em;
    margin: 1em auto 1.325em 0;
    text-align: left;
    width: 5.5625em;
    @media( max-width: 31.25em ) {
        height: 0.15em;
    }
}

#work-show h1,
#home h1 {
    @extend .typl8-gamma;
}

#work-show h2,
#home h2 {
    @extend .typl8-zeta;
    font-weight: 600;
    margin-bottom: 0.25em;
}

#work-show ul,
#home ul {
    padding: 0;
    margin-left: 0;
    margin-right: auto;
    margin-top: 0;
    font-family: $sans;
    color: $tin;
}

#work-show ul li,
#home ul li {
    margin-left: 0;
    margin-right: auto;
    margin-top: 0;
}

#work-show ul li p,
#home ul li p {
    margin-bottom: 1em;
}

#work-show ul li:last-child p,
#home ul li:last-child p {
    margin-bottom: 0;
}

.work-meta.show-for-small {
    display: none;
}

@media only screen and (max-width: 48.4375em) {
    .work-meta.hide-for-small {
        display: none;
    }
    .work-meta.show-for-small {
        display: block;
    }
}

.home-view-work {
    text-indent: 0;
}

.portfolio-nav {
    padding-top: 1.5em;
    line-height: 1.25;
}

.portfolio-nav li {
    float: left;
    margin-bottom: 0;
    width: 33.33%;
    text-align: center;
}

.portfolio-nav li a,
.portfolio-nav li a:visited {
    color: $charcoal;
    font-weight: 600;
    text-decoration: none;
}

.portfolio-nav li a:hover,
.portfolio-nav li a:active,
.portfolio-nav li a:focus {
    color: $tin;
}

.portfolio-nav li.prev-project {
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
}

.portfolio-nav li.next-project {
    overflow: hidden;
    text-align: right;
    text-overflow: ellipsis;
}

.portfolio-nav li.prev-project span,
.portfolio-nav li.next-project span {
    color: $silver;
    display: block;
}

.portfolio-nav li.prev-project span,
.portfolio-nav li.prev-project a {
    margin-left: 0.056em;
}

.portfolio-nav li.next-project span,
.portfolio-nav li.next-project a {
    margin-left: 0.056em;
}

.portfolio-nav .grid-icon {
    font-size: 2em;
    line-height: 1;
    position: relative;
    top: 0.25em;
}

.small-circle {
    font-size: 70%;
}


div.inner a.play-now,
div.inner a.play-now:visited {
    font-size: 0.875em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.075rem;
    font-family: $sans;
    color: $silver;
    border-bottom: none;
    cursor: pointer;
}

div.inner a.play-now:hover,
div.inner a.play-now:active,
div.inner a.play-now:focus {
    color: $tin;
}

.title-overlay {
    background-color: $charcoal;
    color: $white;
    display: block;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    font-weight: 300;
    opacity: 0;
    padding: 1em 1.25em;
    position: absolute;
    transition: opacity 200ms ease-out;
}

.title-overlay h2 {
    @extend .typl8-zeta;
    color: $powder !important;
    font-weight: 400 !important;
    margin-bottom: .5em !important;
    font-family: $sans;
}
.title-overlay p {
    color: $powder;
    font-size: 0.89875em;
    line-height: 1.25;
    margin-bottom: 1em;
    font-family: $sans;
}

.title-overlay:hover,
.title-overlay:active,
.title-overlay:focus, {
    opacity: 1;
}

.screen-reader-text {
    position: absolute;
    top: -9999em;
    left: -9999em;
}

header.banner {
    margin: 0 auto;
    max-width: $site-width;
    z-index: 100;
    position: relative;
    font-family: $sans;
}

a.menu {
    display: none;
}
    @media only screen and (max-width: 50em) {
        a.menu {
            display: block;
            position: absolute;
            top: 0.5em;
            right: 0;
            font-weight: 600;
            letter-spacing: 1px;
            letter-spacing: 0.056rem;
            text-transform: uppercase;
            text-decoration: none;
            color: $nav-fallback;
            color: $nav-quiet;
        }
            a.menu:hover,
            a.menu:active {
                color: $nav-active;
                outline: 0;
            }
                a.menu:focus {
                    outline: 0;
                }
    }

nav.navigation {
    position: absolute;
    top: 0.5em;
    right: 0;
    // width: $inner-width;
    // margin: 0 auto;
    // padding-top: 0.555em;
    z-index: 300;
}
    @media only screen and (max-width: 50em) {
        nav.navigation {
            position: static;
            display: none;
            clear: left;
            padding-top: 1.5em;
            padding-bottom: .875em;
            width: 100%;
        }
        .no-js nav.navigation {
            display: block; /* If JavaScript is disabled, display menu in open state */
        }
    }

nav.navigation ul {
    padding: 0 0 0.6125em 0;
    margin-top: 0;
    margin-bottom: 0;
}
    @media only screen and (max-width: 50em) {
        nav.navigation ul {
            padding: 0;
            text-align: left;
            border-top: 0.056em solid $powder;
        }
    }

nav.navigation ul li {
    display: inline;
    margin: 0 2.222em 0 0;
}

nav.navigation ul li:last-child {
    margin-right: 0;
}
    @media only screen and (max-width: 50em) {
        nav.navigation ul li {
            display: block;
            margin: 0;
        }
    }

nav.navigation ul li a {
    font-weight: 600;
    letter-spacing: 1px;
    letter-spacing: 0.056rem;
    text-transform: uppercase;
    text-decoration: none;
    color: $nav-fallback;
    color: $nav-quiet;
}
    @media only screen and (max-width: 50em) {
        nav.navigation ul li a {
            display: block;
            padding: 1em 0 1.25em 0;
            border-bottom: 0.056em solid $powder;
        }
    }

nav.navigation ul li a:hover,
nav.navigation ul li a:active,
nav.navigation ul li a:focus {
    color: $nav-active;
    outline: 0;
}

nav.navigation ul li.active a {
    color: $nav-active;
}

div.main {
    margin: 0 auto;
    max-width: $site-width;
    padding-bottom: 6em;
}

div.inner {
    position: relative;
    margin: 0 auto;
    width: $inner-width;
    padding-top: 3em;
    transition: width 200ms ease-in-out;
}
    @media only screen and (max-width: 50em) {
        div.inner {
            width: 100%;
        }
    }

div.inner.foot {
    padding-top: 2.5em;
}

div.inner.full {
    width: 100%;
}

div.inner.middle {
    padding-top: 0.5em;
}

/*----------------------------------*\
    Main Body Text Links
\*----------------------------------*/

div.inner a,
div.inner a:visited {
    color: $tin;
    text-decoration: none;
    border-bottom: 0.056em dotted $link;
}

div.inner a:hover,
div.inner a:active,
div.inner a:focus {
    color: $body;
    text-decoration: none;
    outline: 0;
    border-bottom: none;
}

/*----------------------------------*\
    Text Selection
\*----------------------------------*/

::-moz-selection {
    color: $charcoal;
    background: $selection;
}

::selection {
    color: $charcoal;
    background: $selection;
}

/*----------------------------------*\
    Footer
\*----------------------------------*/

footer.row.col {
    height: $footer-height; /* Set to be the same as padding-bottom on section#main */
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 3.25em;
    padding-right:3.25em;
    background: $powder;
    color: $silver;
    font-family: $sans;
    font-weight: 300;
}
    @media only screen and (max-width: 37.5em) {
        footer.row.col {
            padding-left: 1.5em;
            padding-right: 1.5em;
        }
    }

    @media only screen and (max-width: 59.375em) {
        footer.row.col {
            height: 19em; /* Set to be the same as padding-bottom on section#main */
        }

        section#main {
            padding-bottom: 19em; /* Height of footer element */
        }
    }

    @media only screen and (max-width: 37.5em) {
        footer.row.col {
            height: 27em; /* Set to be the same as padding-bottom on section#main */
        }

        section#main {
            padding-bottom: 27em; /* Height of footer element */
        }
    }

div.foot {
    margin: 0 auto;
    max-width: $site-width;
}

div.foot p {
    color: #9D9D9D;
}

div.foot hr {
    border-top-color: #DADADA;
}

div.foot h3 {
    @extend .typl8-zeta;
    font-weight: 600;
    margin-bottom: 0.825rem;
    color: $tin;
}

ul.social {
    padding: 0;
    margin: 0;
}

ul.social li {
    margin: 0;
}

@media only screen and (max-width: 37.5em) {
    ul.navigate li:last-child {
        margin-bottom: 1.5em;
    }
}

div.inner ul.social li a,
div.inner ul.social li a:visited,
div.inner .footer-link,
div.inner .footer-link:visited {
    text-decoration: none;
    font-weight: 400;
    color: $silver;
    border-bottom: none;
}

div.inner ul.social li a:hover,
div.inner ul.social li a:active,
div.inner ul.social li a:focus,
div.inner .footer-link:hover,
div.inner .footer-link:active,
div.inner .footer-link:focus {
    text-decoration: none;
    color: $tin;
    outline: 0;
    border-bottom: none;
}

div.inner a.pdf-resume,
div.inner a.pdf-resume:visited {
    font-family: $sans;
    text-align: right;
    text-decoration: none;
    font-weight: 400;
    color: $silver;
    border-bottom: none;
}

div.inner a.pdf-resume:hover,
div.inner a.pdf-resume:active,
div.inner a.pdf-resume:focus {
    text-decoration: none;
    border-bottom: none;
    padding-bottom: 0;
    outline: 0;
    color: $tin;
}

/*----------------------------------*\
    Errors
\*----------------------------------*/

label .inline-error {
    color: $error;
    font-weight: 300;
    text-transform: none;
    letter-spacing: .0325rem;
}

/*----------------------------------*\
    Blog
\*----------------------------------*/

input[type="text"], textarea {
    font-family: $sans;
}

input[type="text"].postfix {
    text-align: left;
}

.user {
    color: $user;
    font-family: $serif;
    text-transform: none;
    letter-spacing: 1px;
    letter-spacing: 0.056rem;
    font-style: italic;
    font-size: 1.25em;
}

h6.time {
    font-family: $sans;
    color: $tin;
    font-size: 0.7875em;
    text-transform: uppercase;
    letter-spacing: 0.09875rem;
    text-indent: 0;
    margin-bottom: 1em;
    line-height: 1.5em;
}

#blog h2 a,
#blog h2 a:visited {
    color: $charcoal;
    border-bottom: none;
}

#blog h2 a:hover,
#blog h2 a:active,
#blog h2 a:focus {
    text-decoration: none;
    border-bottom: none;
    padding-bottom: 0;
    outline: 0;
    color: $tin;
}

div.inner nav.blog-nav {
    font-family: $sans;
    border-top: 0.056em solid #e2e2e2;
    margin-top: 0;
}

div.inner nav.blog-nav a {
    text-decoration: none;
    font-weight: 400;
    color: $silver;
    font-size: 0.7875em;
    text-transform: uppercase;
    letter-spacing: 0.075rem;
    border-bottom: none;
}

div.left-divider {
    border-bottom: none;
    border-top: none;
    border-right: solid 1px #e2e2e2;
    clear: none;
    height: 1.75em;
    width: 0;
    padding-left: 0.5em;
}

div.right-divider {
    border-bottom: none;
    border-top: none;
    border-left: solid 1px #e2e2e2;
    clear: none;
    height: 1.75em;
    width: 0;
    padding-right: 0.5em;
}

.blue {
    color: $link;
}

.blue:hover,
.blue:active,
.blue:focus {
    color: $link-hover;
}

div.inner a.edit-post {
    font-family: $sans;
    text-decoration: none;
    font-weight: 400;
    color: $silver;
    font-size: 0.7875em;
    text-transform: uppercase;
    letter-spacing: 0.075rem;
    border-bottom: none;
}

div.inner button.delete-post,
div.inner button.work-home {
    font-family: $sans;
    text-decoration: none;
    font-weight: 400;
    color: $silver;
    background: none;
    text-transform: none;
    letter-spacing: 0;
    padding: 0;
    margin-bottom: 0;
    display: inline;
    font-size: 100%;
    font-size: 0.7875em;
    text-transform: uppercase;
    letter-spacing: 0.075rem;
    transition: all 150ms ease-out;
}

div.inner a.edit-post:hover,
div.inner a.edit-post:active,
div.inner a.edit-post:focus,
div.inner nav.blog-nav a:hover,
div.inner nav.blog-nav a:active,
div.inner nav.blog-nav a:focus,
div.inner button.delete-post:hover,
div.inner button.delete-post:active,
div.inner button.delete-post:focus,
div.inner button.work-home:hover,
div.inner button.work-home:active,
div.inner button.work-home:focus {
    text-decoration: none;
    border-bottom: none;
    padding-bottom: 0;
    outline: 0;
    color: $tin;
    transition: all 150ms ease-out;
}

p.circle {
    text-indent: 0;
    margin-top: 0;
    margin-bottom: 4.5em;
    font-size: 80%;
    color: $body;
}

p.circle a {
    border-bottom: none;
}


/*----------------------------------*\
    Pagination
\*----------------------------------*/

.pag {
    font-family: $sans;
    font-weight: 600;
    letter-spacing: 1px;
    letter-spacing: 0.075rem;
    text-align: center;
    color: $silver;
}

.pag ul {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.pag ul li {
    display: inline;
    margin: 0 1em 0 0;
}

.pag ul li a,
.pag ul li a:visited {
    color: $charcoal !important;
    border-bottom: none;
}

.pag ul li a:hover,
.pag ul li a:active,
.pag ul li a:focus {
    text-decoration: none;
    border-bottom: none;
    padding-bottom: 0;
    outline: 0;
    color: $tin !important;
}

.cancel {
    margin-left: 1em;
    color: $tin !important;
    background: $powder;
}

.cancel:hover {
    background: #E0E0E0 !important;
}
