
@import "typeplate";

/*---------------------------------------------------------*\

    Typography Adjustments

\*---------------------------------------------------------*/

body {
    font-family: $serif;
    font-weight: 400;
    font-kerning: normal;
    font-variant-ligatures: common-ligatures;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $sans;
    font-weight: 400;
}

// Reduce the size of h2 headers at small screen sizes
h2 {
  @extend .typl8-beta;

  @media( max-width: 31.25em ) {
    @include typl8-typescale(
        map-get($typl8-scale, typl8-gamma),
        $typl8-font-base,
        '#{$typl8-typescale-unit}',
        $typl8-measure
      );
  }
}

p.intro {
    font-family: $serif;
    font-weight: 400;
    font-size: 1.75em;
}

strong {
    font-weight: 700;
}

#resume hr {
    margin-bottom: 1.5em;
}

#resume h3 {
    margin-bottom: 0.5rem;
}

#resume h2,
#login h2 {
    font-family: $sans;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1825rem;
}

#resume h6 {
    font-family: $sans;
    color: $tin;
    font-size: 0.7875em;
    text-transform: uppercase;
    letter-spacing: 0.09875rem;
    text-indent: 0;
    margin-bottom: 0.25em;
    line-height: 1.5em;
}

#resume ul {
    list-style-type: circle;
    padding-left: 0;
    margin-bottom: 1.5em;
}
    @media only screen and (max-width: 50em) {
        #resume ul {
            padding-left: 1.125em;
        }
    }

ul.experience,
ul.education {
    margin-top: 0;
}

abbr {
    font-family: 'Alegreya SC';
    letter-spacing: 1px;
    letter-spacing: 0.056rem;
}

abbr[title] {
    border-bottom: 1px dotted $silver;
}

label, button, .button {
    font-family: $sans;
    outline: 0;
}


