
@import "typeplate";

/*---------------------------------------------------------*\

    Typography Adjustments

\*---------------------------------------------------------*/

body {
    font-family: $sans;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $serif;
    font-weight: 400;
}

p.intro {
    font-weight: 300;
    font-size: 1.5em;
}

strong {
    font-weight: 700;
}

#resume hr {
    margin-bottom: 1.5em;
}

#resume h4 {
    margin-bottom: 0.5rem;
}

#resume h5 {
    font-family: $sans;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1825rem;
}

#resume h6 {
    font-family: $sans;
    color: $tin;
    font-size: 0.7875em;
    text-transform: uppercase;
    letter-spacing: 0.09875rem;
    text-indent: 0;
    margin-bottom: 0.25em;
    line-height: 1.5em;
}

#resume ul {
    list-style-type: circle;
    padding-left: 0;
    margin-bottom: 1.5em;
}
    @media only screen and (max-width: 50em) {
        #resume ul {
            padding-left: 1.125em;
        }
    }

ul.experience,
ul.education {
    margin-top: 0;
}
