
/* Main content styles
-------------------------------------------------- */

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    background-color: #242428; /* #2e2e32 */
    background-image: url(/img/simon/LineScreen.png);
    background-repeat: repeat;
    background-size: 0.1875rem 0.1875rem;
}

.simon-container {
  width: 19.25rem;
  margin: 0 auto;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
  left: 5.3875rem;
  top: 5.56rem;
  z-index: 1000;
}

h1, h2, h3, h4, h5, h6, p, a {
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    font-weight: 300;
    color: #828286;
    /*color: #96969a;*/
    /*line-height: 1.2;*/
    cursor: default;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;
}

.top-row {
  margin-top: 1.75rem;
}

.middle-row {
  padding-top: 1.75rem;
}

h2 {
    font-weight: 600;
    letter-spacing: 0.0875rem;
    color: #ff6652;
    font-size: 3.25rem;
    line-height: 3.75rem;
    cursor: default;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;
}

h2 a {
    color: #221c35;
}

h5 {
    font-weight: 400;
    letter-spacing: 0.0625rem;
    margin-top: 1.125rem;
    margin-bottom: 1.125rem;
    color: #828286;
    cursor: default;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;
}

.button {
  font-family: 'Source Sans Pro', sans-serif;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-decoration: none;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  display: inline-block;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-bottom: 1.0625rem;
  padding-left: 2rem;
  font-size: 1rem;
  background-color: none;
  background: none;
  border-color: #828286;
  color: #96969a;
  transition: #828286 300ms ease-out;
}

button:hover, button:focus, .button:hover, .button:focus {
    background-color: rgba(130, 130, 134, 0.4);
    color: #c8c8cc;
}

.button-text {
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  font-weight: 400;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;
}

.round-text, .round-text:hover {
  color: #d0b411; /* #FFDC00 */
  background-color: none;
  background: none;
  border-color: #145ca4;
  cursor: default;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none; 
}

.watch-sequence {
  color: #be3a34 ; /* #FF4136 */
  cursor: default;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;
}

.repeat-sequence {
  color: #2e9a3b;  /* #2ECC40 */
  cursor: default;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;
}

.medium-grey {
    background-color: #828286;
}

/* Simple Simon Styles
-------------------------------------------------- */

ul.quadrant {
  padding: 0;
  margin: 0 auto;
  list-style: none;
  width: 19.125rem;
  height: 19.125rem;
  border-radius: 19.125rem;
  overflow: hidden;
}

ul.quadrant li {
  width: 9.375rem;
  height: 9.375rem;
  float: left;
}

ul.quadrant li.top-left {
  margin: 0 0.1875rem 0.1875rem 0;
}

ul.quadrant li.top-right {
  margin: 0 0 0.1875rem 0.1875rem;
}

ul.quadrant li.bottom-left {
  margin: 0.1875rem 0.1875rem 0 0;
}

ul.quadrant li.bottom-right {
  margin: 0.1875rem 0 0 0.1875rem;
}

.red, .yellow, .green, .blue {
  opacity: 0.3;
}

.red {
  background-color: #FF4136;
}

.yellow {
  background-color: #FFDC00;
}

.green {
  background-color: #2ECC40;
}

.blue {
  background-color: #0074D9;
}

.all-red {
  background-color: #FF4136;
  opacity: 0.75 !important;
}


